/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

 @font-face {
   font-family: Frutiger;
   src: url(fonts/Frutiger.ttf);
 }

 @font-face {
   font-family: Frutiger light;
   src: url(fonts/FrutigerLTStd-Light.otf);
 }


.grid1{
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-gap: 50px;
}

.frut{
  font-family: Frutiger
}

.frul{
  font-family: Frutiger light

}

.h2 {
  font-size: 1vw;
  color: black;
}

.h1 {
  font-size: 2.3vw;
  color: black;
}
